rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /leaderboard/{gameName}/scores/{scoreId} {
      allow read: if true;
      allow write: if false; // Writes only via admin SDK in Cloud Functions
    }
  }
}
